@font-face {
    font-family: 'Staatliches';
    src: local('Staatliches Regular'), local('Staatliches-Regular'),
        url('Staatliches-Regular.woff2') format('woff2'),
        url('Staatliches-Regular.woff') format('woff'),
        url('Staatliches-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }